.modal-header {
    align-items: center;
}

.modal-title {
    font-size: smaller;
}

.modal-user {
    font-size: xx-small;
}

.modal-mail {
    font-size: xx-small;
}

.modal-body {
    font-size: x-small;
}